body {
  padding-top: 50px;
  padding-left: 30px;
  padding-right: 30px;
}

@media ($media-sm) {
  body {
    padding-left: 66px;
    padding-right: 66px;
  }
}

@media ($media-md) {
  body {
    padding-left: 64px;
    padding-right: 64px;
  }
}
