$header-blue: #6aa1c8;
$light-grey: #dddddd;
$dark-grey: #999999;


$margin: 50px;

$media-xs: "max-width: 321px";
$media-sm: "min-width: 800px";
$media-md: "min-width: 1024px";
$media-lg: "min-width: 1366px";
$media-xl: "min-width: 1600px";


