doctype html
html(lang='en')
  include parts/head.pug
  body
    header.header
      .header-1
      .header-2
      .header-3
    main.main
      .main__wrapper-1
        .main-4
      .main__wrapper-2
        .main-1
        .main-2
          .main-2__sub-block
          .main-2__sub-block
          .main-2__sub-block
        .main-3
      .main__wrapper-3
        .main-5
          .main-5__sub-block
          .main-5__sub-block
          .main-5__sub-block
          .main-5__sub-block
          .main-5__sub-block.main-5__sub-block--xl-only
          .main-5__sub-block.main-5__sub-block--xl-only
        .main-6
