doctype html
html(lang='en')
  include parts/head.pug
  body
    header.container
      .row
        .header-block-1.col-12
    main.container
      .row
        .main-block-1.col-12
      .main-block-2.row
        .main-block-2__col.col-12.col-sm-4
          .main-block-2__sub-block
        .main-block-2__col.col-12.col-sm-4
          .main-block-2__sub-block
        .main-block-2__col.col-12.col-sm-4
          .main-block-2__sub-block
      .row
        .main-block-3.col-12
