doctype html
html(lang='en')
  include parts/head.pug
  body
    header.header
      .header-1
    main.main
      .main-1
      .main-2
        .main-2__sub-block
        .main-2__sub-block
        .main-2__sub-block
      .main-3
