.main {
  &-1 {
    height: 320px;
    background-color: $light-grey;
    margin-bottom: $margin
  }

  &-2 {
    &__sub-block {
      height: 135px;
      background-color: $dark-grey;
      margin-bottom: $margin;
    }
  }

  &-3 {
    height: 140px;
    background-color: $light-grey;
  }
}

@media ($media-sm) {
  .main-block {
    &-2 {
      &__sub-block {
        margin-left: $margin / 2;
        margin-right: $margin / 2;
      }
      &__col:first-child > &__sub-block {
        margin-left: 0;
      }
      &__col:last-child > &__sub-block {
        margin-right: 0;
      }
    }
  }
}
