.main {

  &-1 {
    height: 320px;
    background-color: $light-grey;
    margin-bottom: 50px;
  }

  &-2 {
    &__sub-block {
      height: 135px;
      background-color: $dark-grey;
      margin-bottom: 50px;
    }
  }

  &-3 {
    height: 140px;
    background-color: $light-grey;
  }
}

@media ($media-sm) {
  .main-2 {
    display: flex;

    &__sub-block {
      width: 100%;
    }

    &__sub-block:first-child {
      margin-right: 50px;
    }

    &__sub-block:last-child {
      margin-left: 50px;
    }
  }
}
