.main {

  &__wrapper-1 {
    display: none;
  }

  &-1 {
    height: 320px;
    background-color: $light-grey;
    margin-bottom: 50px;
  }

  &-2 {
    &__sub-block {
      height: 135px;
      background-color: $dark-grey;
      margin-bottom: 50px;
    }
  }

  &-3 {
    height: 140px;
    background-color: $light-grey;
  }
}

@media ($media-sm) {
  .main-2 {
    display: flex;

    &__sub-block {
      width: 100%;
    }

    &__sub-block:first-child {
      margin-right: 50px;
    }

    &__sub-block:last-child {
      margin-left: 50px;
    }
  }
}

@media ($media-md) {
  .main {
    display: flex;

    &__wrapper-1 {
      display: block;
      margin-right: 50px;
    }

    &-4 {
      background-color: $header-blue;
      width: 320px;
      height: 600px;
    }

    &__wrapper-2 {
      flex-grow: 1;
    }
  }
}
